<!--<div class="container">-->
  <%# todo= render :partial => 'parts/share_on_bar' if do_vendor? %>
<!--</div>-->



<%#= render :partial => 'dispensaries/leafly_target/new_dispensary_link' %>



<div class="dispensary_name">
  <div class="container">

    <div class="row">
      <div class="col-xs-2">
        <%= image_tag 'logos/leaf_farm_logo_small.png', width: '120px' %>
      </div><!-- col -->

      <div class="col-xs-8">
        <h1>
          <%= @dispensary.name %>
        </h1>

        <%= image_tag 'components/chalk_underline.png', width: '100%' %>

      </div><!-- col -->

      <div class="col-xs-2">
        <%#= image_tag 'logos/leaf_farm_logo_small.png', width: '120px', class: 'pull-right' %>
      </div><!-- col -->

    </div>

  </div>
</div>