$background-color: #0b800c;

$white_color: rgba(#f9fadc, .9);
$main_font_family: 'Amatic SC';

$pink_color: rgba(#ffd1fd, 1);
$yellow_color: rgba(#f7ff1a, .8);
$blue_color: #5f83ff;
$purple_color: rgba(#7d00b9, .80);
$red_color: rgba(#ff0c00, .75);
$charcoal_color: rgba(0, 0, 0, 0.84);


@mixin form_controls{
  color: $charcoal_color !important;
  font-size: 30px !important;
  font-weight: 500 !important;
  background-color:$white_color !important;
  height: 55px !important;
}
