#leafly_menu{
  .product_row{
    border-bottom: 1px solid $white_color;

    .col-md-6{
      padding-top: 20px;
    }
  }

  .leafly_link{
    a:link{
      color: $purple_color;
      //      text-decoration: none;
    }
    a:visited{
      color: $purple_color;

      text-decoration: none;
    }
    a:hover{
      //      text-decoration: ;
    }
    a:active{
      color: $purple_color;
      text-decoration: none;
    }
  }


  .leaf_farm_menu_faux_border_row{
    height: 1px;
    background-color: $white_color;
  }

  .special_row{

    padding-top: 10px;
    text-align: left !important;
    //    color: green;
    //    padding-top: 10px;
    //    border-bottom: 1px solid $yellow_color;
  }

  .jump_to_row{
    margin-top: 10px;
  }

}//end #leafly_menu
