#dispensary_menu{
  h3{
    margin-top: 0px;
//    border-bottom: 1px solid $red_color;
  }

  .product_row{
    border-bottom: 1px solid $white_color;

    .col-md-6{
      padding-top: 20px;
    }
  }

  .leafly_link{
    a:link{
      color: $purple_color;
      //      text-decoration: none;
    }
    a:visited{
      color: $purple_color;

      text-decoration: none;
    }
    a:hover{
      //      text-decoration: ;
    }
    a:active{
      color: $purple_color;
      text-decoration: none;
    }
  }


  .leaf_farm_menu_faux_border_row{
    height: 1px;
    background-color: $white_color;
  }

  .special_row{

    padding-top: 10px;
    text-align: left !important;
    //    color: green;
    //    padding-top: 10px;
    //    border-bottom: 1px solid $yellow_color;
  }

  .link_to_leafly_strain{
//    @include site_link_container;

    margin-top: 50px;
    margin-bottom: 20px;

    a:link, a:visited, a:active{
      text-decoration: none;
      color: $yellow_color;
    }
    a:hover{
      color: $charcoal_color;
    }

  }

  .price_list{
//    @include site_link_container;
    a:link, a:active, a:visited{
      color: $white_color;
      text-decoration: none;
    }
    a:hover{
      color: $charcoal_color;
      text-decoration: none;
    }

  }
}//end #leafly_menu



